<div id="<%= dom_id assignment %>">
  <p>
    <strong>Assignment:</strong>
    <%= assignment.assignment %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= assignment.type %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= assignment.subject %>
  </p>

</div>
