<div id="<%= dom_id homework %>">
  <p>
    <strong>Title:</strong>
    <%= homework.title %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= homework.due_date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= homework.category %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= homework.subject %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= homework.status %>
  </p>

</div>
